{# layout.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <style>
        header {
            background-color: yellow;
            color: red;
            padding: 1em;
            border: 1px red solid;
        }

    </style>
</head>

<body>

<header>
    welcome to the BLOG
</header>

<nav>
    <ul>

        <li>
            <a href="index.php">
                Index (list)
            </a>
        </li>

        <li>
            <a href="about.php">
                About
            </a>
        </li>
    </ul>

    <hr>
</nav>

{% block body %}{% endblock %} 
</body>
</html>