{#----------------#}
{# templates/index.html.twig #}
{#----------------#}

{% extends "layout.html.twig" %}

{# ----------------------------------- #}
{% block title %} About {% endblock %}

{# ----------------------------------- #}
{% block body %}
    <h1>About</h1>
    <p>
        I am the about page
    </p>
{% endblock %}