{#----------------#}
{# templates/list.html.twig #}
{#----------------#}

{% extends "layout.html.twig" %}

{# ----------------------------------- #}
{% block title %} Show a post {% endblock %}

{# ----------------------------------- #}
{% block body %}
<h1>Show a post</h1>

<a href="/">
    &lt; back to list of posts
</a>
<hr>

<h2>
    {{ post.title }}
</h2>

<p>
    {{ post.body }}
</p>

{% endblock %}